.skills__animation-01 {
    height: 24px;
    width: 350px;
    background-color: #C66C49;
    animation-name: one;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    align-self: center;
}

@keyframes one {
    0% {
        width: 0;
    }
    100% {
        width: 350px;
    }
}