.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 768px;
  padding-bottom: 53.3%;
  background-color: hsl(17, 52%, 53%);
  opacity: .7;
  animation-name: noise;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  /* transition: all 1s linear; */
}

@keyframes noise {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}
