.header__container {
  color: #ffffff;
  position: absolute;
  top: 10%;
  left: 11%;
  width: 80%;
  /* border: 1px solid blueviolet  ; */
}


@media screen and (max-width: 940px){
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}