.header__greeting {
  grid-column-start: 1;
    grid-column-end: 3;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  font-family: "Libre Franklin", "Arial", "Helvetica", sans-serif;
  margin: 0 0 26px 0;
}
